body{

    margin:0;
    background:#efe8d6;
    font-family:Arial;

}

.contenedor{

    width:95%;
    margin:25px auto;

}

.panel-filtros{

    background:white;
    padding:18px;
    border-radius:18px;
    box-shadow:0 3px 12px rgba(0,0,0,.12);

}

.fila{

    display:flex;
    margin-bottom:10px;

}

.titulo{

    width:170px;

    background:#6d1831;

    color:white;

    padding:16px;

    font-weight:bold;

    border-radius:15px 0 0 15px;

    display:flex;

    align-items:center;

}

.contenido{

    flex:1;

}

.contenido select,
.contenido input{

    width:100%;

    height:55px;

    border:none;

    background:#fafafa;

    padding-left:15px;

    font-size:16px;

    border-radius:0 15px 15px 0;

}

.acciones{

    margin-top:20px;

    display:flex;

    gap:15px;

}

button{

    flex:1;

    height:55px;

    border:none;

    color:white;

    font-size:18px;

    border-radius:10px;

    cursor:pointer;

}

#buscar{

    background:#6d1831;

}

#nuevo{

    background:#1f8d42;

}

.cards{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:15px;

    margin-top:20px;

}

.card{

    background:white;

    border-radius:15px;

    padding:25px;

    text-align:center;

    box-shadow:0 3px 10px rgba(0,0,0,.1);

}

.card span{

    font-size:28px;

    font-weight:bold;

    color:#6d1831;

}

.tabla{

    margin-top:20px;

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 3px 10px rgba(0,0,0,.1);

}

table{

    width:100%;

    border-collapse:collapse;

}

thead{

    background:#6d1831;

    color:white;

}

th{

    padding:15px;

}

td{

    padding:15px;

    border-bottom:1px solid #eee;

}

.modal{

    display:none;

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.45);

    justify-content:center;

    align-items:center;

    z-index:999;

}

.modal-contenido{

    width:700px;

    background:white;

    border-radius:15px;

    padding:25px;

}

.modal-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

#cerrarModal{

    cursor:pointer;

    font-size:22px;

}

.tabs{

    display:flex;

    margin:20px 0;

}

.tab{

    flex:1;

    background:#ddd;

    color:black;

    border:none;

    padding:15px;

}

.tab.activa{

    background:#6d1831;

    color:white;

}

.tab-content{

    display:none;

}

.tab-content.activo{

    display:block;

}

.grupo{

    margin-bottom:15px;

}

.grupo label{

    display:block;

    margin-bottom:6px;

    font-weight:bold;

}

.grupo input,
.grupo select{

    width:100%;

    height:45px;

    padding:10px;

}