<aside class="sidebar">

    <div class="sidebar-logo">

    <img
        src="img/SEBISO.png"
        alt="Logo SBIS"
        class="logo-sidebar"
        width="200px"
        height="70px">

</div>

    <nav class="sidebar-menu">

        <button
            type="button"
            class="menu-btn activo"
            onclick="mostrarVista('inicio')">

            Inicio

        </button>

        <button
            type="button"
            class="menu-btn"
            onclick="mostrarVista('registros')">

            Registros

        </button>

    </nav>

</aside>